apiVersion: v1
kind: Service
metadata:
  name: homepage
  namespace: default
spec:
  type: NodePort
  selector:
    app: homepage
  ports:
  - port: 3000
    targetPort: 3000
    nodePort: 30080  # You'll access it at http://master-ip:30080
